# Django
__pycache__/
*.pyc
db.sqlite3

# Media uploads 
media/

# Entornos
venv/
.env
.venv/
staticfiles/
.pytest_cache/
*.sqlite3
.env.*
!.env.example
# Metadatos de descargas de Windows
*Zone.Identifier*
